/*
COLORS

--color-Primary: #eb2f64
--color-Primary light: #FF3366
--color-Primary dark: #BA265D

--Grey-light-1: #faf9f9
--Grey-light-2: #f4f2f2
--Grey-light-3: #f0eeee
--Grey-light-4: #ccc

--Grey-dark -: #333
--Grey-dark -: #777
--Grey-dark -: #999

*/

:root{
--color-Primary: #eb2f64;
--color-Primary-light: #FF3366;
--color-Primary-dark: #BA265D;

--Grey-light-1: #faf9f9;
--Grey-light-2: #f4f2f2;
--Grey-light-3: #f0eeee;
--Grey-light-4: #ccc;

--Grey-dark-1: #333;
--Grey-dark-2: #777;
--Grey-dark-3: #999;

--shadow-dark:0 2rem 6rem rgba(0,0,0,.3);
--shadow-light: 0 2rem 6rem rgba(0,0,0,.06);    

}

*{
    margin: 0;
    padding: 0;
    
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
   
    background-image: linear-gradient(to right bottom, var(--color-Primary), var(--color-Primary-light), var(--color-Primary-dark) );
    min-height: 100vh;
    background-repeat: no-repeat;
    font-family: "Open sans", sans-serif;
    font-size: 400;
    line-height: 1.6;
}

.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color:var(--Grey-light-1) ;
    box-shadow:var(--shadow-dark);
    min-height: 50rem;
}

.header{
    background:#fff;
    height: 7rem;
    border-bottom: 1px  solid  var(--Grey-light-2);

    display: flex;
    justify-content:space-between ;
    align-items: center;

    font-size: 1.4rem;
}

.content{
    display: flex;


}

.sidebar{
    background-color: var(--Grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.hotel-view{
    
    flex: 1;
    
    height:80rem ;
}

.logo{
    height: 3.25rem;
    margin-left:3rem
}

.search{
    flex: 0 0 40% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon{
    height: 2rem;
    width: 2rem;
    fill: var(--Grey-dark-3);
}

    
   .search input{
        font-family: inherit;
        font-size: inherit;
        background-color: var(--Grey-light-2);
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition:all .2s;
        margin-right: -3.25rem;
        /*so that the button can move on the search  */
    }

    .search input:focus{
        outline: none;
        width: 100%;
        background-color: var(--Grey-light-3);
    }

    .search input::-webkit-input-placeholder{
        font-weight: 100;
        color: var(--Grey-light-4);
    }
     .search input + button{
        background-color: var(--Grey-light-3);

     }

    .search-button{
        border: none;
         background-color: var(--Grey-light-2);
    }
.search-button:focus{
    outline: none;

}

.search-button:active{
   transform: translateY(2px); 
}

.user-icon{
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--Grey-dark-2);
   
}


.user-photo{
    height: 3.75rem;
    border-radius: 50%;
}
.icon-box{
    position: relative;
}

.user-nav{
    display: flex;
    align-self: stretch;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-right: 3rem ; */
   
}

.user-nav > *{
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; 
     display: flex;
    align-items: center;
}

.user-nav > *:hover{
     background-color: var(--Grey-light-2);
}

.user-notification{
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-Primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right:1.1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
}
.side-nav-item{
    position: relative;
    margin-bottom: .5rem; 
} 

.side-nav-item &:not(:last-child){
   margin-bottom: .5rem; 
}
.side-nav-item::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-Primary);
    transform: scaleY(0);
    transition: transform .2s,
    /* width .4s .2s; */
    width .4s cubic-bezier(1,0,0,1) .2s,
    background-color .1s;

}

.side-nav-item:hover::before,
.side-nav-item-active::before
{
transform: scaleY(1);
width: 100%;
}

.side-nav-item:active::before{
    background-color: var(--color-Primary-light);
}

.side-nav-link,
.side-nav-link:visited{
    color: var(--Grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}

.side-nav-icon{
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill:currentColor ;
    /* color of the parent element */
}

.legal{
    font-size:1.2rem;
    color: var(--Grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

.hotel-view{

}

.gallery{
    display: flex;
    
}

.gallery-photo{
   width: 100%;
   display: block;
    /*an imgae should always be a block element  */
}


.overview{
 display: flex;
 align-items: center;
 border-bottom: 1px  solid  var(--Grey-light-2);
}
.overview-heading{
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    color: var(--Grey-dark-2);
}
.overview-stars{
    /* flex: 1; */
    margin-right: auto;
    display: flex;
}

.overview-icon,
.overview-icon-location{
    width: 1.7rem;
    height: 1.7rem;
    fill: var(--color-Primary);

}

.overview-icon{
  

}

.overview-location{
    font-family: 1.2rem;
    display: flex;
    vertical-align: center;

}

.overview-icon-location{
    margin-right: .5rem;
}

.overview-rating{
  background-color: var(--color-Primary);
  margin-left: 3rem;
  color: white;
  align-self: stretch;
  padding: 0 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-bottom: -3px ;
}

.overview-rating-average{
  font-size: 2.25rem;
  font-weight: 200;
}

.overview-rating-count{
  font-size: .8rem;
  text-transform:uppercase ;
}

.btn-inline{
    border: none;
    color: var(--color-Primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    
}

.btn-inline:focus{
  outline: none;
  animation: pulsate 1s infinite;
}

.btn-inline:hover{
    color: var(--Grey-dark-1);
}

.detail{
  display: flex;
  padding: 4.5rem;
  background-color: white;
  border-bottom: 1px solid var(--Grey-light-2);
}
.description{
 background-color: white;
 flex: 0 0 60%;
 margin-right: 4.5rem;
 padding: 3rem;
 box-shadow: var(--shadow-light);
}
.user-reviews{
background-color: yellowgreen;
flex: 1 ;
}


@keyframes pulsate {
    0%{
        transform: scale(1);
        box-shadow: 0;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100%{
        transform: scale(1);
        box-shadow: 0;

    }
}